TestCode/.vs/TestCode/v16/Browse.VC.db
TestCode/.vs/TestCode/v16/Browse.VC.db-shm
TestCode/.vs/TestCode/v16/Browse.VC.db-wal
TestCode/.vs/TestCode/v16/Browse.VC.opendb
TestCode/.vs/TestCode/v16/ipch/AutoPCH/172fd638841833a/TESTCODE.ipch
TestCode/TestCode/Debug/TestCode.tlog/CL.command.1.tlog
TestCode/TestCode/Debug/TestCode.tlog/CL.read.1.tlog
TestCode/TestCode/Debug/TestCode.tlog/CL.write.1.tlog
TestCode/TestCode/Debug/TestCode.tlog/link.command.1.tlog
TestCode/TestCode/Debug/TestCode.tlog/link.read.1.tlog
TestCode/TestCode/Debug/TestCode.tlog/link.write.1.tlog
TestCode/TestCode/Debug/TestCode.tlog/TestCode.lastbuildstate
TestCode/.vs/TestCode/v16/.suo
TestCode/Debug/TestCode.exe
TestCode/Debug/TestCode.ilk
TestCode/Debug/TestCode.pdb
TestCode/TestCode/Debug/ClassStudy.obj
TestCode/TestCode/Debug/TestCode.exe.recipe
TestCode/TestCode/Debug/TestCode.log
TestCode/TestCode/Debug/TestCode.obj
TestCode/TestCode/Debug/vc142.idb
TestCode/TestCode/Debug/vc142.pdb
